In [48]:
import pandas as pd
import quandl
quandl.ApiConfig.api_key = "9rGstH1zaRsvmQ_Dq7s5"
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
pwd!

'/Users/Doukas/Documents/GitHub/databer0619/module-1/pipelines-project/your-code'

In [29]:
data = pd.read_csv("/Users/Doukas/Documents/GitHub/databer0619/module-1/pipelines-project/your-code/companies.csv")

In [30]:
data.head()

  Ticker                Company
0   AAPL             Apple Inc.
1   NFLX          Netflix, Inc.
2   AMZN       Amazon.com, Inc.
3   MSFT  Microsoft Corporation
4   GOOG          Alphabet Inc.

In [31]:
def get_tickers(path):
    companies = pd.read_csv(path)
    ticker_list = list(companies['Ticker'])
    print('Retrieved', str(len(ticker_list)), 'ticker symbols.')
    return ticker_list

In [32]:
def get_prices(ticker):
    print('Retrieving data for', ticker)
    prices = quandl.get('WIKI/' + ticker)['Adj. Close'].reset_index()
    prices['Ticker'] = ticker
    return prices

data = []

ticker_list = get_tickers('companies.csv')

for ticker in ticker_list:
    prices = get_prices(ticker)
    data.append(prices)

Retrieved 30 ticker symbols.
Retrieving data for AAPL
Retrieving data for NFLX
Retrieving data for AMZN
Retrieving data for MSFT
Retrieving data for GOOG
Retrieving data for TSLA
Retrieving data for FB
Retrieving data for AAP
Retrieving data for DIS
Retrieving data for NKE
Retrieving data for UA
Retrieving data for BAC
Retrieving data for CCL
Retrieving data for CI
Retrieving data for AAL
Retrieving data for LUV
Retrieving data for WFC
Retrieving data for WMT
Retrieving data for HD
Retrieving data for ORCL
Retrieving data for IBM
Retrieving data for NCLH
Retrieving data for RCL
Retrieving data for TWX
Retrieving data for FOX
Retrieving data for F
Retrieving data for GCI
Retrieving data for XOM
Retrieving data for WWE
Retrieving data for WM

In [44]:
len(prices)
prices.head()

        Date  Adj. Close Ticker
0 1991-09-30   10.890339     WM
1 1991-10-01   11.211020     WM
2 1991-10-02   10.890339     WM
3 1991-10-03   11.371361     WM
4 1991-10-04   10.890339     WM

In [53]:
def concat_pivot(data, rows, columns, values):
    df = pd.concat(data, sort=True)
    pivot = df.pivot_table(values=values, columns=columns, index=rows)
    return pivot

In [54]:
def compute_returns(df):
    returns = df.pct_change()
    return returns

In [55]:
def return_risk_ratio(df, days=30):
    means = pd.DataFrame(df.tail(days).mean())
    std = pd.DataFrame(df.tail(days).std())
    ratios = pd.concat([means, std], axis=1).reset_index()
    ratios.columns = ['Company', 'Mean', 'Std']
    ratios['Ratio'] = ratios['Mean']/ratios['Std']
    return ratios

In [56]:
top10 = ratios.sort_values('Ratio', ascending=False).head(10)

NameError: name 'ratios' is not defined

In [52]:
def corr_matrix(df, days=30):
    corr_matrix = df.tail(days).corr()
    return corr_matrix

target_list = returns[list(top10['Company'])]
correlation = corr_matrix(target_list)

NameError: name 'returns' is not defined

In [50]:
def barchart(df, x, y, length=8, width=14, title=""):
    df = df.sort_values(x, ascending=False)
    plt.figure(figsize=(width,length))
    chart = sns.barplot(data=df, x=x, y=y)
    plt.title(title + "\n", fontsize=16)
    return chart

bar_plot = barchart(top10, 'Ratio', 'Company', title='Stock Return vs. Risk Ratios')

NameError: name 'top10' is not defined